/*  */

.info a {
    text-decoration: none;
    color: #fff;
}

.header-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

.info {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;


}

.info {
    margin-right: 20px;
}

.header-top {
    background: #00796b;
    height: 40px;
    position: sticky;
    top: 0;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.header-links a:hover {
    color: #fff;
    ;
}

.info1 i {
    font-style: normal;
    color: #fff;
}

.info i a {
    padding-left: 5px;
    color: #fff;
}

.info2 i {
    font-size: 18px;
}



/* navbar */
.navbar-light .navbar-brand {
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
}

.navbar {
    height: 90px;
    background: #008374;
}

.navbar-light .navbar-brand span {
    color: #f96f59;
}

.navbar-light .navbar-nav {
    color: #fff;
    
}

.navbar-light  .navbar-nav .nav-item a {
    color: #fff;
    margin-right: 20px;
}

.navbar-light .navbar-nav .nav-item a:hover {
    color: #f85a40;
}

.navbar-light .navbar-nav .nav-link.active {
    color:#f85a40;
}

/* banner */

.banner {
    padding: 50px;

}

.content {
    margin-top: 70px;

}

.content h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

.content p {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-bottom: 30px;
}

.buttons a {
    text-decoration: none;
}

.buttons .btn-get:hover {
    border-color: #fff;
    color: #fff;
}

.btn-get {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.btn-watch {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: #fff;
    font-weight: 600;
}

.btn-watch i {
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 4px;
    vertical-align: middle;
}

.btn-watch span {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}

.btn-watch span:hover i {
    color: #fff;
}

.btn-watch i:hover {
    color: #fff;
    border: #fff;
}

/*  */
.banner {
    background: #008374;
    height: 600px;
}

.banner-icon {
    position: relative;
}

.icon-box {
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background: #008d7d;
    box-shadow: 0 0 29px 0 rgb(0 0 0 / 8%);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
    height: 282px;
    margin-top: -150px;


}

.icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 48px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);

}

.icon i {}


.title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.title a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}



/* about */
.about {
    margin-top: 100px;
}

.section-title {
    text-align: center;
    padding-bottom: 60px;
}

.section-title h2 {
    position: relative;
}

.section-title h2::after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #009d8b;

}

.section-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

}

.section-title p {
    color: #6f6f6f;


}

.about h3 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 1rem;

}

.about ul {}

.about ul li {
    list-style-type: none;
    margin-bottom: 10px;

}

.about ul li i {
    /* position: absolute; */
    font-size: 20px;
    padding-right: 4px;
    top: -3px;

}

.play-btn {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    background-color: #008374;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
    top: 170px;
    left: 250px;
    padding: 20px;
    text-decoration: none;
}

.play-btn i {
    font-size: 60px;
}

/* client */
.client {
    margin-top: 60px;

}

.client-image {
    width: 86px;
    transition: ease 0.3s;
}

.client-image:hover {
    transform: scale(1.2);
}

/* stats */
.stats {
    margin-top: 60px;
}

.stats-count {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    font-family: sans-serif;
}

.stats-count span {
    font-size: 40px;
    font-weight: 700;
    color: #008374;
    ;
    display: block;
    line-height: 40px;
}

.stats-count p {
    font-size: 14px;
    margin: 5px;

}


/* cta */
.cta-text {
    background-image: url("../images/cta-bg.jpg");
    background-position: center;
    background-size: cover;
    padding: 60px 0;
    overflow: hidden;
    text-align: center;
    margin-top: 70px;
    position: relative;

}

.cta-btn {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 48px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.cta-btn i {
    color: #e4e4e4;
    font-size: 20px;

}

.cta-btn i:hover {
    transform: scale(2);
}

.cta-text h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;

}

.cta-text p {
    color: #fff;
    margin-bottom: 20px;

}

.cta-text a {
    text-decoration: none;
}

.cta-btn {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 48px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.cta-btn:hover {
    background-color: #008374;
    color: #e4e4e4;
}



/* services */
.services {
    margin-top: 100px;
    background-color: #f6f6f6;
    padding: 60px;
}



.services .card {
    margin-bottom: 20px;
}

.services .card:hover {
    cursor: pointer;

}

.services .card-serbody {
    padding: 40px;
    background: #fff;
    height: 100%;
    border-radius: 10px;
}

.services .card-serbody .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
}

.services .card-serbody .icon::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #eeeeee;
    border-radius: 50px;
    z-index: 1;
    top: 10px;
    right: -20px;
    transition: 0.3s;
}


.services .card-serbody .icon i {
    color: var(--color-default);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
    margin-bottom: 20px;
}

.services .card-serbody h3 {
    color: var(--color-default);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #eeeeee;
    transition: 0.3s;

}

.services .card-serbody p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;

}

.services .card-link {
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    color: #008374;

}

.services .card-link i {
    font-size: 15px;
    color: #008374;

}

/* Testimonials */
.testimonial {
    padding: 60px 0;
    overflow: hidden;

}

.testimonial .card {
    position: relative;
    box-sizing: content-box;
    padding: 30px;
    margin: 30px 10px;
    box-shadow: 0px 0 15px rgb(0 0 0 / 10%);
    position: relative;
    background: #fff;
    border-radius: 10px;

}

.testimonial .card img {
    width: 90px;
    border-radius: 50px;
    margin-right: 15px;
}

.card-testi {
    position: absolute;
    left: 135px;

}

.card-testi h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #000;
    margin-bottom: 5px;
}

.card-testi h4 {
    font-size: 14px;
    color: #999;
    margin-bottom: 8px;
}

.card-testi .stars {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.stars i {
    color: #ffc107;
    margin: 0 1px;
}

.card-testicontent p {
    font-style: italic;
    margin: 15px auto;
}

.card-testicontent .fa-quote-left {
    display: inline-block;
    left: -5px;
    position: relative;
    color: #009d8b;
    font-size: 26px;
}

.card-testicontent .fa-quote-right {
    display: inline-block;
    top: 10px;
    right: -5px;
    position: relative;
    color: #009d8b;
    font-size: 26px;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 0;
    margin-bottom: -60px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #6c757d;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;

}

.carousel-indicators .active {
    background-color: #009d8b;
}

/* portfolio */
.portfolio {
    padding: 0 60px;
    overflow: hidden;

}

.portfolio-info {
    padding: 0 0 20px 0;
    margin: auto;
    list-style: none;
    text-align: center;

}

.portfolio-info ul {}

.portfolio-info ul li {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 1;
    transition: all 0.3s ease-in-out;

}

.portfolio-info ul li:hover {
    color: #009d8b;

}

.portfolio-info .active {
    color: #009d8b;
}

.port-image img {
    transition: .3s;
    overflow: hidden;
}

.port-image {
    overflow: hidden;
    cursor: pointer;
}

/* .port-image img:hover {
    transform: scale(1.5);
} */

.portfolio .card:hover img {
    transform: scale(1.5);
}

h5 .card-title {
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
}

.card-title a {
    text-decoration: none;
    color: #222222;

}

.card-title a:hover {
    color: #009d8b;
}

.card-text {
    color: #6c757d;
    font-size: 14px;
    padding-right: 50px;
}

.portfolio .card {
    margin-bottom: 20px;

}

.portfolio .card-body {
    padding: 25px 20px;
    background-color: #fff;
    border-left: 1px solid white;

}

/* team */
.team {
    padding: 60px 0;
    overflow: hidden;
}

.team-image {
    /* box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
    padding: 15px;
    background: #fff; */
}

.team-image img {
    border-radius: 10px;
    overflow: hidden;

}


.team .card {
    box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
    padding: 15px;
    background: #fff;


}

.card-body {
    background: #fff;
}

.card-body h4 {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 20px;
}

.card-text {
    padding-right: 0%;
}

.card-body span .card-text {
    font-style: italic;
    display: block;
    font-size: 14px;
    color: #6c757d;

}

.social-link {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
    padding: 15px; */
    background: #fff;

}

.social-link a {
    text-decoration: none;
    color: #a2a2a2;
    transition: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbbbbb;
}

.social-link a:hover {
    border-color: #009d8b;
    color: #009d8b;
}

/* Pricing */
.pricing {
    background-color: #f6f6f6;
    padding: 60px 0;
    overflow: hidden;
}

.pricing-item {
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgb(108 117 125 / 15%);
    background: #fff;
    height: 100%;
    position: relative;
    border-radius: 15px;
}

.pricing h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    color: #555555;
    text-align: center;
}

.pricing .icon {
    position: relative;
    margin: 30px auto 30px auto;
    width: 70px;
    height: 70px;
    background: #009d8b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transform-style: preserve-3d;
}

.pricing .icon::before {
    position: absolute;
    content: "";
    height: 86px;
    width: 86px;
    border-radius: 50%;
    background: #87c1bb;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
}

.pricing .icon::after {
    position: absolute;
    content: "";
    height: 102px;
    width: 102px;
    border-radius: 50%;
    background: #d2eeeb;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-2px);
}

.pricing .icon i {
    color: white;
    font-size: 28px;
    transition: ease-in-out 0.3s;
    line-height: 0;
}


.pricing h4 {
    font-size: 48px;
    color: #f85a40;
    font-weight: 700;
    text-align: center;
}

.pricing h4 sup {
    font-size: 28px;
    line-height: 0;
    vertical-align: baseline;
    left: 10px;
}


.pricing h4 span {
    color: rgba(108, 117, 125, 0.8);
    font-size: 18px;
    font-weight: 400;
}

.pricing ul {
    list-style-type: none;
    padding: 20px 0;
    list-style: none;
    color: #6c757d;
    text-align: left;
    line-height: 20px;
}

.pricing ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;

}

.pricing ul li i {
    color: #059652;
    font-size: 24px;
    padding-right: 3px;
}

.pricing ul li .line i {
    color: rgba(108, 117, 125, 0.5);

}

.pricing .line {
    display: ;
    padding: 20px 0;
}

.line span {
    text-decoration: line-through;
}

.buy-btn {
    align-items: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 50px;
    color: #009d8b;
    border: 1px solid rgba(0, 131, 116, 0.2);
    transition: none;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-primary);
    transition: 0.3s;
}

.buy-btn:hover {
    background-color: #009d8b;
    color: white;
}

.pricing-item1 {
    z-index: 10;
    border: 3px solid red;
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgb(108 117 125 / 15%);
    background: #fff;
    height: 100%;
    position: relative;
    border-radius: 15px;
}


/* Faq */
.faq {
    /* background-color: #f6f6f6; */
    padding: 60px 0;
    overflow: hidden;
}

.faq h3 {
    font-weight: 400;
    font-size: 34px;

}

.faq span {
    font-weight: bolder;
}

.faq p {
    font-size: 15px;
    color: #6c757d;
}

.accordion-item {
    border: 0;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 6%);
    border-radius: 10px;
}

.faq .accordion-button {
    padding: 20px 50px 20px 20px;
    font-weight: 600;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-default);
    text-align: left;
    background: #fff;
    box-shadow: none;
    border-radius: 10px;
}

.faq .accordion-button:focus {
    color: #009d8b;
}

.faq span {
    color: #009d8b;
    padding-right: 10px;
    font-size: 20px;
}

/* recent post */
.recent-post {
    background-color: #f6f6f6;
    padding: 60px 0;
    overflow: hidden;
}

.recent-post h6 {
    font-size: 16px;
    color: #6f6f6f;
    margin-bottom: 10px;
}

.recent-post h4 {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
}

.recent-post h4 a {
    color: var(--color-default);
    transition: 0.3s;
    text-decoration: none;
}

.recent-post h4 a:hover {
    color: #009d8b;
}

.author img {
    width: 50px;
    border-radius: 50%;
    /* margin-right: 15px; */
}

.author-content p {
    font-weight: 600;
    margin-bottom: 5px;
}

.author-content h5 {
    font-size: 14px;
    color: #3c3c3c;
    margin-bottom: 0;
}

.recent-post .card {
    position: relative;


}

.card-post {
    box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
    background-color: #fff;
    padding: 10px 30px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;

}

.author-content {
    position: absolute;
    bottom: 15px;
    left: 93px;
}

/* contact */
.contact {
    padding: 60px 0;
    overflow: hidden;
}

.info-container {
    background-color: #008374;
    height: 100%;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
}

.contact-details {
    width: 100%;
    background-color: #009282;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.contact-icon {}

.contact-icon i {
    font-size: 20px;
    color: #fff;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;


}

.contact-details:hover .contact-icon i {
    background-color: white;
    color: #008374;


}

.contact-info h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;

}

.contact-info p {
    font-size: 14px;

}

/* form */
form {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 0 10px 10px 0;
}

form input {
    box-shadow: none;
    font-size: 14px;
}

form input[type=text] {
    padding: 12px 15px;
}

form input[type=email] {
    padding: 12px 15px;
}

textarea {
    padding: 10px 12px;
    font-size: 14px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    /* background-clip: padding-box; */
    /* border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */

}

button[type=submit] {
    background: #008374;
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.copyrights {
    text-align: center;
}

.credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
}

.credits a {
    color: #fff;
    text-decoration: none;
}

.media-links a i:hover {
    color: white;

}

.media-links a:hover {
    border-color: white;
}

textarea:focus {
    border-color: black;
}

/* footer */
.footer {
    font-size: 14px;
    background-color: #008374;
    padding: 50px 0;
    color: white;
}

.footer-info {
    margin-bottom: 25px;
}

.footer-info a {
    text-decoration: none;
}

.footer-info span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.media-links {
    display: flex;

}

.media-links a {
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.footer-info p {
    font-size: 14px;
}

.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

.footer-nav {
    margin-bottom: 30px;
}

.footer-nav ul {
    list-style: none;

}

.footer-nav ul li {
    padding: 10px 0;
}

.footer-nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer-contact p {
    line-height: 26px;
}

.footer-contact p strong {
    font-weight: bolder;
}

.footer-nav ul li a:hover {
    color: white;
}